<mat-card>
  <form class="form-container" [formGroup]="invoiceForm" novalidate (ngSubmit)="onSave()">
    <mat-form-field color="warn">
      <input matInput placeholder="Item" formControlName="item">
      <mat-error *ngIf="invoiceForm.controls['item'].invalid && invoiceForm.controls['item'].touched"> item is required </mat-error>
    </mat-form-field>
    <mat-form-field color="warn">
      <input matInput [matDatepicker]="date" placeholder="Choose a date" formControlName="date">
      <mat-datepicker-toggle matIconSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date></mat-datepicker>
      <mat-error *ngIf="invoiceForm.controls['date'].invalid && invoiceForm.controls['date'].touched"> Date is required </mat-error>
    </mat-form-field>
    <mat-form-field color="warn">
      <input matInput [matDatepicker]="due" placeholder="Choose a due date" formControlName="due">
      <mat-datepicker-toggle matIconSuffix [for]="due"></mat-datepicker-toggle>
      <mat-datepicker #due></mat-datepicker>
      <mat-error *ngIf="invoiceForm.controls['due'].invalid && invoiceForm.controls['due'].touched"> Due is required </mat-error>
    </mat-form-field>
    <mat-form-field color="warn">
      <input matInput placeholder="Qty" type="number" formControlName="qty">
      <mat-error *ngIf="invoiceForm.controls['qty'].invalid && invoiceForm.controls['qty'].touched"> Qty is required </mat-error>
    </mat-form-field>
    <mat-form-field color="warn">
      <input matInput placeholder="Tax" type="number" formControlName="tax">
      <mat-error *ngIf="invoiceForm.controls['tax'].invalid && invoiceForm.controls['tax'].touched"> Tax is required </mat-error>
    </mat-form-field>
    <mat-form-field color="warn">
      <input matInput placeholder="Rate" type="number" formControlName="rate">
      <mat-error *ngIf="invoiceForm.controls['rate'].invalid && invoiceForm.controls['rate'].touched"> Rate is required </mat-error>
    </mat-form-field>
    <div>
      <button mat-raised-button [disabled]="!invoiceForm.valid" type="submit" color="link">Save</button>
      <button mat-raised-button type="reset" color="warn">Cancel</button>
      <button mat-raised-button (click)="regresar()" color="primary">Regresar</button>
    </div>
  </form>
</mat-card>
